
<html lang="en">
	<head>
	    <title>Secrets</title>
	</head>
	<body>
		<div class='container'>	
			<div class='row'>
				<div class="col-md-6 header" >
				  	<h1>Secrets</h1>
				</div>
				<div class="col-md-6 link">
				  	<p><a href="/users/<%= session[:id] %>">Back</a></p>
						<p><a href="/users/logout">Log Out</a></p>
				</div>
			</div>
<!-- <img id='likes' height='15' src='/assets/like.png'> -->
			<div class="row">
				<div class="col-md-4">
					<div class='row'>

						<% @secrets.each do |secret| %>
							<p><%= secret.content %> <%= image_tag "like.png" , :height=>"15",:id => "likes" %><%= secret.likes.count %> likes 	<% if secret.user_id == session[:id] %>
										<a href="/secrets/<%= secret.id %>/destroy" data-method='delete'>Delete</a>
							<% end %></p>
							<!-- 	checks if secrets likes by current user is included in the each secret -->
								<% if @secrets_likes.include?(secret.id) %> 
									<p><form action='/likes/remove' method='post' class='like1'>
										<input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'>
										<input type='hidden' name="secret_id" value="<%= secret.id %>">
										<input type='submit' class='btn btn-warning btn-xs liker' value='Unlike'>
									</form></p>
								<% else %>
									<p><form action='/likes/add' method='post' class='like1'>
										<input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'>
										<input type='hidden' name="secret_id" value="<%= secret.id %>">
										<input type='submit' class="btn btn-primary btn-xs" value='Like'></p>
									</form>
								<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>


							
					

						
						

								
  									
								
							
								
						
				
			

			
			
		
